.banner {
  position: relative;
  text-align: center;
  color: #b01640;
  font-size: 4vw;
  font-family: 'Quicksand', sans-serif;
}

/* Banner text */
.banner-text {
  position: absolute;
  top:30%;
  right: 10%;
}

.content {
  margin-left: 20%;
  margin-right: 20%;
  font-family: 'Quicksand', sans-serif;
}
